@{
    ViewBag.Title = "Consultar Documentos";
    SelectList classes = new SelectList(new LAB5GED.DOMAIN.DAO.Business.UsuarioBO().GetClassesAtivasUsuario(int.Parse(User.Identity.Name)), "Registro", "Rotulo");
    
}

<script type="text/javascript">
    $(document).ready(function () {
        

        $("#filtros").hide();
       
        $("#indice").change(function () {
            if ($("#indice").val() != "") {
                $("#btnPesquisar").prop('disabled', false);
                $("#valor").prop('disabled', false);
            } else {
                $("#btnPesquisar").prop('disabled', true);
                $("#valor").prop('disabled', true);
            }
                
        })

       
        $('#ckdtl').change(function () {
            if ($(this).prop("checked")) {
                $('#filtros').show();
                $("#btnPesquisar").prop('disabled', true);
                $("#valor").prop('disabled', true);
                $("#valor").val('');
            } else {
                $('#filtros').hide();
                $("#btnPesquisar").prop('disabled', false);
                $("#valor").prop('disabled', false);
            }
        });
    
    })

  





   
</script>

@using(Ajax.BeginForm("ConsultarDocumentoIndex", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divResultado"

}
))
{ 
<script src="~/Scripts/libscripts.js"></script>
    
   
    
    
    <h2>Consultar Documentos</h2>

    <div id="filtros">
        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Classe")
                    @Html.DropDownList("classe", classes, "---", new { @onChange = "return BindDDL(this,subclasse,'Consulta','GetSubclassesUsuarioLogado');" })
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Subclasse")<br />
                    @Html.DropDownList("subclasse", new SelectList(string.Empty, "Value", "Text"), "escolha uma classe", new { @onchange = "return BindDDL(this,serie,'Consulta','GetSeriesUsuarioLogado');" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Série")<br />
                    @Html.DropDownList("serie", new SelectList(string.Empty, "Value", "Text"), "escolha uma subclasse", new { @onchange = "return BindDDL(this,subserie,'Consulta','GetSubseriesUsuarioLogado');" })
                </div>
            </div>

            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Subsérie")<br />
                    @Html.DropDownList("subserie", new SelectList(string.Empty, "Value", "Text"), "escolha uma série", new { @onchange = "return BindDDL(this,indice,'Consulta','GetSubserieIndices');" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class="form-group">
                    @Html.Label("Índice de pesquisa")<br />
                    @Html.DropDownList("indice", new SelectList(string.Empty, "Value", "Text"), "---")
                </div>
            </div>

            <div class="col-lg-2">
               
            </div>


        </div>

    </div> @*fim div filtros*@

   <div class="row">

      
       <div class="col-lg-4">
             <div class="checkbox">
                <label> @Html.CheckBox("ckdtl") Consulta detalhada</label>
             </div>

                    
          
           

           <div class="form-group">
               

               @Html.Label("Pesquisar por:")<br />
               @Html.TextBox("valor", "", new { @style = "width:400px" })
           
              
           </div>
           <input id="btnPesquisar" type="submit" class="btn btn-primary" value="Pesquisar" />
       </div>
       <div class="col-lg-2">
           
           
       </div>
  
      
   </div>
    
}

<div id="divResultado" class="row">

</div>

