@model LAB5GED.DOMAIN.Entidades.Usuario
@{

    List<LAB5GED.DOMAIN.Entidades.Classe> _classes = new LAB5GED.DOMAIN.DAO.Business.ClasseBO().GetClassesAtivasComID();
    List<LAB5GED.DOMAIN.Entidades.Subserie> _subseriesDisponiveis = new LAB5GED.DOMAIN.DAO.Business.UsuarioBO().GetSubseriesDisponiveis(Model.Registro);
}
<script src="~/Scripts/libscripts.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>





<h2>Configurar Subséries do Usuário</h2>
<label>Usuário: @Model.NomeUsuario</label><br />
<label>Login: @Model.Login</label>
<hr />

@using (Ajax.BeginForm("ListarSubseriesDisponiveisUsuario", new AjaxOptions
{
    InsertionMode=InsertionMode.Replace,
    UpdateTargetId="resultado"
}))


{

 
    <div class="row">
        <div class="col-lg-1">
            <div class="form-group">
                @Html.Label("Classe")<br />
                @Html.Label("Subclasse")<br />
                @Html.Label("Série")
                @Html.Hidden("_registroUsuario", Model.Registro)



            </div>
        </div>

        <div class="col-lg-3">
            @Html.DropDownList("classe", new SelectList(_classes, "Registro", "Rotulo"), "---", new { @onChange = "return BindDDL(this,subclasse,'Consulta','GetSubclassesAtivas');" })<br />
            @Html.DropDownList("subclasse", new SelectList(string.Empty, "Value", "Text"), "", new { @onChange = "return BindDDL(this,_registroSerie,'Consulta','GetSeriesAtivas');" })<br />
            @Html.DropDownList("_registroSerie", new SelectList(string.Empty, "Value", "Text"), "")<br />
            <input class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Index","Usuario")'" value="Voltar" />&nbsp;
            <input type="submit" value="Consultar" class="btn btn-primary" />
        </div>

    </div>


    
    <div id="resultado"></div>



}


