@model List<LAB5GED.DOMAIN.Entidades.Subserie>


@{
    LAB5GED.DOMAIN.Entidades.Usuario _usuario = null;
    try{

        _usuario = new LAB5GED.DOMAIN.DAO.Business.UsuarioBO().GetByRegistro(int.Parse(ViewBag.usuario));

    }
    catch { }
   
}

<script type="text/javascript">

    function addItem() {
        
        var subserie = [];

        $("#disponiveis :selected").each(function(i,selected){
            subserie[i] = $(selected).val();
        });

        configura(@_usuario.Registro.ToString(),subserie , true);
        $("#disponiveis option:selected").appendTo("#vinculadas");
        $("#vinculadas option").attr("selected", false);
      
    }

    function remItem() {

        var subserie = [];

        $("#vinculadas :selected").each(function(i,selected){
            subserie[i] = $(selected).val();
        });

        configura(@_usuario.Registro.ToString(),subserie , false);
        $("#vinculadas option:selected").appendTo("#disponiveis");
        $("#disponiveis option").attr("selected", false);
        
    }

    function configura(usuario, subserie, insere) {
        $.ajax({
            url: '@Url.Action("ConfigurarSubseries", "Usuario")',
            traditional: true,
            data: {
                _registroUsuario: usuario,
                _registroSubserie: subserie,
                _adiciona: insere
            },
            type: "post",
            
           

            error: function (textStatus, errorThrown) {
                alert(errorThrown);
            },
            success: function (data, textStatus, XMLHttpRequest) {
         
            }
        });
    }

</script>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Subséries disponíveis</h3>
            </div>
            <div class="panel-body">

                @Html.ListBox("disponiveis", new MultiSelectList(Model, "Registro", "Rotulo_subserie"), new { @Style = "Width:100%;Height:100%", @Class = "form-control" })<br />
                @*<table class="table table-striped table-hover ">
                    @foreach (LAB5GED.DOMAIN.Entidades.Subserie _grp in Model)
                    {
                        <tr>
                            <td>@_grp.Id_subserie - @_grp.Rotulo_subserie</td>
                            <td>@Html.ActionLink("Adicionar esta Subsérie", "ConfigurarSubseries", new { _registroUsuario = _usuario.Registro, _registroSubserie = @_grp.Registro, _adiciona = true })</td>
                        
                        </tr>

                    }
                </table>*@
                <input type="button"  value="Adicionar" onclick="addItem();" />
            </div>
        </div>
    </div>


    <div class="col-lg-6">

        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Subséries vinculadas ao usuário</h3>
            </div>
            <div class="panel-body">

              

                @Html.ListBox("vinculadas", new MultiSelectList(_usuario.Subseries, "Registro", "Rotulo_subserie"), new {@Style="Width:100%" }) <br />
                <input type="button" value="Remover" onclick="remItem();" />
                @*<table class="table table-striped table-hover ">
                    @foreach (LAB5GED.DOMAIN.Entidades.Subserie _grp in _usuario.Subseries)
                    {
                        <tr>
                            <td>@_grp.Id_subserie - @_grp.Rotulo_subserie</td>
                            <td>@Html.ActionLink("Remover esta Subsérie", "ConfigurarSubseries", new { _registroUsuario = _usuario.Registro, _registroSubserie = @_grp.Registro, _adiciona = false })</td>
                        </tr>

                    }
                </table>*@
            </div>
        </div>
    </div>

</div>